  {% load staticfiles %}

<section class="banner">
	<h2 class="tagline">Contact Us</h2>
</section>
<section class="contact">
	<div class="container">
		<section class="flag">
			<img src="{% static 'media/' %}/qatar_flag.gif" alt="qatar flag" />
		</section>
		<section class="contact_detail">
			<table>
				<tr>
					<td><img src="{% static 'media/' %}/name.png" alt="name" /></td>
					<td>Nasser Developer</td>
				</tr>
				<tr>
					<td><img src="{% static 'media/' %}/email.png" alt="email" /></td>
					<td>nasser@gmail.com</td>
				</tr>
				<tr>
					<td><img src="{% static 'media/' %}/phone.png" alt="phone" /></td>
					<td>+4482-39183-3832-299</td>
				</tr>
				<tr>
					<td><img src="{% static 'media/' %}/address.png" alt="address" /></td>
					<td>Nasser developer street # 2, sector 4, huddersfield, uk</td>
				</tr>
			</table>
		</section>
	</div>
</section>
<div class="clear"></div>