<footer>
	<div class="container">

		<section class="ft_about">
			<h2 class="ft_title">About Us</h2>
			<hr>
			<article class="post_description_odd">
				It was a coincidental meeting halfway around the world that sparked the idea for Daniel Wellington. On this trip, our founder Filip Tysander met an intriguing British gentleman with impeccable yet unpretentious style. The man had a particular fondness for wearing his vintage watches on old, weathered NATO straps. His name? Daniel Wellington. Inspired by his new acquaintance’s timeless style, Filip decided to create his own line of watches. Minimalistic and refined, the classic design with interchangeable straps truly has wide-ranging appeal. 
			</article>
		</section>
		<section class="ft_menu">
			<h2 class="ft_title">Menu</h2>
			<hr>
			<article>
				<ul>
					<li><a href="">Home</a></li>
					<li><a href="/blog/">Blog</a></li>
					<li><a href="/contact/">Contact Us</a></li>
				</ul>
			</article>
		</section>
		<div class="clear"></div>
		<hr>
		<p class="copyright">Copyright &copy; 2016 | All Right Reserved</p>
	</div>
</footer>
</body>
</html>